body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black; /* Cor de fundo azul escuro */
    color: white; /* Cor do texto geral */
}
img{
  border-radius: 50px;
  height: 150px;
  box-shadow:0px 0px 50px greenyellow;
  width: 150px;
  animation: moveLogo 3s infinite alternate;
  filter: drop-shadow(2px 4px 6px black);
}

@keyframes moveLogo {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
/* Container principal */
#container-home {
    text-align: center;
    background-color: hwb(0 0% 100%); /* Cor de fundo do container */
    border-radius: 8px; /* Cantos arredondados */
    padding: 20px;
    box-shadow: 0 0 10px #000000; /* Sombra */
}

/* Estilos para seleção e botão */
.form-select select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid greenyellow; /* Borda cinza */
    border-radius: 4px;
    margin-bottom: 10px;
    outline: none;
    background-color: transparent;
    color: white;
}

.btn-math {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
p{
  color: greenyellow;
}
.btn-math .btn {
    width: 100px;
    height: 40px;
    background-color: rgb(0, 0, 0); /* Cor de fundo branca */
    outline: none;
    border: 2px solid red; /* Borda cinza */
    color:  white; /* Texto em cinza */
    font-size: 18px;
    margin-left: 10px; /* Espaço entre o botão e a seleção */
    border-radius: 4px;
    cursor: pointer;
}

/* Estilização para as listas */
#lista1, #lista2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

#lista1 li, #lista2 li {
    flex-basis: calc(25% - 16px);
    margin: 4px;
    padding: 8px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    background-color: hwb(325 4% 59%); /* Cor de fundo roxa */
    color: white; /* Texto branco */
    border-radius: 4px;
}

/* Estilização para o texto rosa */
.rosa {
    color: #260486; /* Cor de texto rosa */
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
