body{
background: #212121;
}

.card {
  position: relative;
  display: flex;
  
  justify-content: cente;
  width: 80%;
  max-width: 400px;
  margin: 0 auto;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 32px;
  overflow: hidden;
  border-radius: 10px;
  background: #212121;
  border: 2px solid #313131;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  text-align: center;
}
.g{
  
}
 
@media (min-width: 768px) {
  .classe do-card {
    width: 50%;
    max-width: 400px;
  }
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: #e8e8e8;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content .heading {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color:red;
  background: black;
  border-radius: 30px;
}

.content .para {
  line-height: 1.5;
}

.content .btn {
  color: #e8e8e8;
  text-decoration: none;
  padding: 10px;

  font-weight: 600;
  border: none;
  cursor: pointer;
  background: #0974f1;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card:hover {
  box-shadow: 0 0 20px rgba(9, 117, 241, 0.8);
  border-color: #0974f1;
}

.content .btn:hover {
  outline: 2px solid #069BE4;
  background: transparent;
  color: #e8e8e8;
  box-shadow: 0px 0px 20px rgba(9, 117, 241, 0.8);
  
}

.content .btn:active {
  box-shadow: none;
}
.g{
  width: 80px;
  height: 35px;
  color:red;
  background: black;
  border-radius: 5px;
  
  
}
.g:hover {
  box-shadow: 0px 0px 20px rgba(9, 117, 241, 0.8);
  border-color: #0974f1;
}
