body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  
    min-height: 100vh;
    background-color:#0b1c30; 
    color: white; 
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
  border-radius: 50px;
  height: 150px;
  background: black;
  width: 150px;
  animation: moveLogo 3s infinite alternate;
  filter: drop-shadow(2px 4px 6px black);
}

@keyframes moveLogo {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
/* Container principal */
#container-home {
    text-align: center;
    background-color: hwb(0 0% 100%); /* Cor de fundo do container */
    border-radius: 8px; /* Cantos arredondados */
    padding: 20px;
    box-shadow: 0 0 10px #000000; /* Sombra */
}

.form-select{
 
  width: 100%;
}

select{
  
}

/* Estilos para seleção e botão */
#optionselect{
  border-left: 1px solid red !important;
    width: 80% !important;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #173251; /* Borda cinza */
    border-radius: 4px;
    margin-bottom: 10px;
    outline: none;
    background-color: transparent;
  
    color: white;
}
#selectNumber{
  border-right: 1px solid red !important;
width: 50% !important;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #173251; /* Borda cinza */
    border-radius: 4px;
    margin-bottom: 10px;
    outline: none;
    background-color: transparent;
    appearance: none;
    color: white;
}

.btn {
    width: 100px;
    height: 35px;
    background-color: red;
    outline: none;
    color:  white; /* Texto em cinza */
    font-size: 18px;
    margin-left: 10px; /* Espaço entre o botão e a seleção */
    border-radius: 4px;
    cursor: pointer;
}

/* Estilização para as listas */
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

#lista1 li, #lista2 li {
    flex-basis: calc(25% - 16px) ;
    margin: 4px;
    padding: 8px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    background-color: hwb(325 4% 59%); /* Cor de fundo roxa */
    color: white; /* Texto branco */
    border-radius: 4px;
}

/* Estilização para o texto rosa */
.rosa {
    color: #260486; /* Cor de texto rosa */
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}


.gh{
  display: flex;
  justify-content: center;
}



